body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}



header {
  background-color: #8b4513;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
  color: #8b4513;
}

p, h3{
  text-align: center;
}

img {
  width: 35%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-left: 35%;
  display: flex;
}

.service-box, .testimonial-box {
  background-color: #e0c097;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #8b4513;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #a0522d;
}

footer {
  background-color: #8b4513;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 0.8em; 
}

